AddType application/javascript .mjs

RewriteEngine on

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^([^/]+)/([^/]+)/?$ /index.php?router=$1&script=$2 [L,QSA]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^api/([^/]+)/([^/]+)/?$ /index.php?api=1&router=$1&script=$2 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ /index.php?router=site&script=index [L,QSA]

RewriteCond %{REQUEST_URI} ^/assets/(css|js|images|fonts)$
RewriteRule ^assets/(.*)$ /assets/$1 [L]

RewriteCond %{REQUEST_URI} ^/storage/$
RewriteRule ^storage/(.*)$ /storage/$1 [L]

RewriteCond %{REQUEST_URI} ^/sitemap\.xml
RewriteRule ^sitemap.xml$ /sitemap.xml [L]

