@font-face {
    font-family: 'Raleway';
    src: url('../web/fonts/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Raleway-Italic';
    src: url('../web/fonts/Raleway-Italic-VariableFont_wght.ttf');
}

:root {
    --theme-border-radius: 20px;
    --theme-border-width: 3px;
    --theme-color: #a6b1ff;
    --theme-color--t: #a6b1ff2f;
    --disabled-color: #8d8d8d;
    --disabled-color--t: #8d8d8d2f;
    --theme-transition: .1s;
    --theme-padding: 20px;
    --theme-shadow-position: 0px 4px 5px 0px;
    --danger-color: #ff0000;
    --danger-color--t: #ff00002f;
}

* {
    font-family: 'Raleway' !important;
}

main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-group {
    margin-bottom: 1rem;
}

.default-border {
    border: var(--theme-border-width) solid var(--user-root-color--t);
    border-radius: var(--theme-border-radius);
}

.user-border {
    border-left: var(--theme-border-width) solid var(--user-root-color);
}

.user-border-bottom {
    border-bottom: var(--theme-border-width) solid var(--user-root-color);
}

.user-border-top {
    border-top: var(--theme-border-width) solid var(--user-root-color);
}

nav#w0 {
    background-color: var(--theme-color) !important;
}

section {
    transition: var(--theme-transition);
    box-shadow: -4px 0px 20px 0px var(--user-root-color--t);
    padding: var(--theme-padding);
}

.default-border:hover {
    border: var(--theme-border-width) solid var(--user-root-color);
}

section.hover-up:hover {
    scale: 1.005;
    box-shadow: -12px 0px 20px 0px var(--user-root-color--t)
}

body main button {
    transition: var(--theme-transition);
    border: var(--theme-border-width) solid var(--theme-color--t);
    background-color: transparent;
    border-radius: var(--theme-border-radius);
}

body main button:hover {
    border: var(--theme-border-width) solid var(--theme-color);
}

body main button:active {
    background-color: var(--user-root-color--t);
}

.left-block {
    width: 900px;
}

.profile-data {
    height: 120px;
}

.user-tasks {
    max-height: 900px;
    overflow-y: auto;
}

.user-tasks__task {
    width: 400px;
}

.user-tasks__task__header,
.user-events__event__header {
    margin-bottom: 20px;
}

.user-events--wrapper {
    max-width: 900px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.user-events__event {
    width: 350px;
    height: 500px;
}

.switch-container {
    border: 1px solid var(--disabled-color--t);
    border-radius: 50px;
    height: 20px;
    min-width: 40px;
    width: fit-content;
    background-color: var(--disabled-color--t);
    box-shadow: var(--theme-shadow-position) var(--disabled-color), inset 0px 0px 0px 0px var(--theme-color);
    position: relative;
    transition: 0.1s;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: var(--theme-padding);
    text-align: center;
    user-select: none;
}

.switch-container__trigger {
    height: 20px;
    width: 20px;
    background-color: var(--disabled-color);
    border-radius: 100px;
    position: absolute;
    left: -2px;
    transition: 0.1s;
    box-shadow:  var(--theme-shadow-position) var(--disabled-color);
}

.switch-container.checked {
    background-color: var(--theme-color--t);
    box-shadow: 0px 0px 0px 0px var(--disabled-color), inset var(--theme-shadow-position) var(--theme-color);
    border: 1px solid var(--theme-color--t);
}

.switch-container.checked .switch-container__trigger {
    left: 20px;
    background-color: var(--theme-color);
    box-shadow:  var(--theme-shadow-position) var(--theme-color);
}

.switch-container input[type="checkbox"].switch-container__trigger--input {
    display: none;
}

.form-group__field-group__field {
    width: 100%;
    height: 40px;
    border-radius: var(--theme-border-radius);
    border: 1px solid var(--theme-color--t);
    padding: 10px;
    transition: var(--theme-transition);
    box-shadow: inset var(--theme-shadow-position) var(--theme-color--t);
}

.form-group__field-group__field.invalid {
    border: 1px solid var(--danger-color--t);
}

.form-group__field-group__field:focus-visible,
.form-group__field-group__field:focus,
.form-group__field-group__field:active,
.form-group__field-group__field:hover {
    border: 1px solid var(--theme-color);
    outline: unset;
}

.form-group__field-group__field.invalid:focus-visible,
.form-group__field-group__field.invalid:focus,
.form-group__field-group__field.invalid:active,
.form-group__field-group__field.invalid:hover {
    border: 1px solid var(--danger-color);
    outline: unset;
}

.form-group__field-group__label--required,
.form-group__field-group__error {
    color: var(--danger-color);
}

button.form-submit {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}